<head>
	<script src="js/libs/jquery-3.7.1.min.js"></script>
	<script src="js/libs/sweetalert2.min.js"></script>
	<script src="js/erros/codigos.js"></script>
	<script src="js/erros/feedback.js"></script>
	<script src="js/script.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="fontawesome/css/all.min.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/index_style.css">
	<link rel="stylesheet" href="css/admin.css">
</head>

<div th:fragment="barra">
	<header>
	    <nav class="navbar py-0">
	        <div class="container-fluid d-flex justify-content-between align-items-center">
	            <div class="d-flex align-items-center gap-2">
	                <a class="navbar-brand">
	                    <img class="logo" src="img/dice.png" height="50px">
	                </a>
	                <a href="ajuda.html" target="_blank" rel="noopener noreferrer">
	                    <img src="icons/question.png" class="question" width="30px">
	                </a>
	            </div>
				
	            <div th:if="${userLogado.acesso == 'admin'}">
					<div class="d-flex justify-content-center">
		                <ul class="nav">
		                    <li class="nav-item">
		                        <a title="Antecedentes" href="componentes/antecedentes.html" class="nav-link"><i class="fa-solid fa-scroll"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Armas" href="componentes/armas.html" class="nav-link"><i class="fa-solid fa-khanda"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Armaduras" href="#" class="nav-link"><i class="fa-solid fa-shield"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Arquétipos" href="#" class="nav-link"><i class="fa-solid fa-chess-queen"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Bugigangas" href="#" class="nav-link"><i class="fa-solid fa-gem"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Classes" href="#" class="nav-link"><i class="fa-solid fa-hat-wizard"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Dados" href="#" class="nav-link"><i class="fa-solid fa-dice-d20"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Defeitos" href="#" class="nav-link"><i class="fa-solid fa-poop"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Equipamentos" href="#" class="nav-link"><i class="fa-solid fa-toolbox"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Ferramentas" href="#" class="nav-link"><i class="fa-solid fa-hammer"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Glossário de Magias" href="#" class="nav-link"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Ideais" href="#" class="nav-link"><i class="fa-solid fa-lightbulb"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Idiomas" href="#" class="nav-link"><i class="fa-solid fa-language"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Jogadores" href="#" class="nav-link"><i class="fa-solid fa-users"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Mestres" href="#" class="nav-link"><i class="fa-solid fa-people-group"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Moedas" href="#" class="nav-link"><i class="fa-solid fa-coins"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Raças" href="#" class="nav-link"><i class="fa-solid fa-people-arrows"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Talentos" href="#" class="nav-link"><i class="fa-solid fa-medal"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Tendências" href="#" class="nav-link"><i class="fa-solid fa-scale-balanced"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Tipos de Dano" href="#" class="nav-link"><i class="fa-solid fa-bolt"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Traços de Personalidade" href="#" class="nav-link"><i class="fa-solid fa-masks-theater"></i></a>
		                    </li>
		                    <li class="nav-item">
		                        <a title="Vínculos" href="#" class="nav-link"><i class="fa-solid fa-link"></i></a>
		                    </li>
		                </ul>
		            </div>
				</div>
				
	            <div class="dropdown">
	                <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                    Olá, <span th:text="${userLogado.nome}"></span>
	                </a>
	                <ul class="dropdown-menu dropdown-menu-end">
	                    <li><a class="dropdown-item" href="#">Conta</a></li>
	                    <li><a class="dropdown-item" href="/logout">Sair</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>
	</header>
</idv>