<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Admin</title>
	
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/sweetalert2.min.js"></script>
	<script src="js/erros.js"></script>
	<script src="js/sweet.js"></script>
	<script src="js/validacoes/raca.js"></script>

    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index_style.css">
</head>
<header>
    <nav class="navbar py-0">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
                <a class="navbar-brand">
                    <img class="logo" src="img/dice.png" height="50px">
                </a>
                <a href="ajuda.html" target="_blank" rel="noopener noreferrer">
                    <img src="icons/question.png" class="question" width="30px">
                </a>
            </div>
            <div class="dropdown">
                <a class="btn btn-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Olá, <span th:text="${userLogado.nome}"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Conta</a></li>
                    <li><a class="dropdown-item" href="/logout">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="container mt-4">
        
        <div class="estatisticas p-3">
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Sistemas de Jogo</h6>
                            <h2 class="text-right"><i class="fa-solid fa-dice"></i><span> 4</span></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Mestres Cadastrados</h6>
                            <h2 class="text-right"><i class="fa-solid fa-book"></i><span> 2</span></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Jogadores Cadastrados</h6>
                            <h2 class="text-right"><i class="fa-solid fa-users"></i><span> 3</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FAB ESTILOSO -->
        <div class="fab-container">
            <button id="fab-main" class="fab-main">
                <i class="fa fa-plus"></i>
            </button>
            <ul class="fab-options">
                <li><button title="Criar ficha"><i class="fa-solid fa-scroll"></i></button></li>
                <li><button title="Sugestão para o mestre"><i class="fa-solid fa-hat-wizard"></i></button></li>
                <li><button title="Importar/Exportar ficha"><i class="fa-solid fa-file-import"></i></button></li>
                <li><button title="Configurações"><i class="fa-solid fa-gear"></i></button></li>
                <li><button title="Entrar em campanha"><i class="fa-solid fa-door-open"></i></button></li>
                <li><button title="Rolagem de dados"><i class="fa-solid fa-dice-d20"></i></button></li>
                <li><button title="Relatar bugs"><i class="fa-solid fa-bug"></i></button></li>
            </ul>
        </div>
    </div>

    <script src="jquery/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#fab-main').click(function () {
                $('.fab-options').toggleClass('active');
                $(this).find('i').toggleClass('fa-plus fa-times');
            });
        });
    </script>
</body>

</html>