<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Admin</title>	
	
	<script src="js/libs/jquery-3.7.1.min.js"></script>
	<script src="js/libs/sweetalert2.min.js"></script>
	<script src="js/erros/codigos.js"></script>
    <script src="js/erros/feedback.js"></script>
	<script src="js/script.js"></script>
	<script src="js/hotkeys.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
	<link rel="stylesheet" href="css/index_style.css">
    <link rel="stylesheet" href="css/admin_style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>

<div th:replace="~{fragmentos/barra :: barra}"></div>

<body>
    <div class="container mt-4">
        <div class="estatisticas p-3">
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Sistemas de Jogo</h6>
                            <h2 class="text-right"><i class="fa-solid fa-dice"></i><span> 4</span></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Mestres Cadastrados</h6>
                            <h2 class="text-right"><i class="fa-solid fa-book"></i><span> 2</span></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Jogadores Cadastrados</h6>
                            <h2 class="text-right"><i class="fa-solid fa-users"></i><span> 3</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabela-sistemas mt-4">
			<div class="d-flex justify-content-between align-items-center mb-3">
			    <h3>Sistemas de Jogo</h3>
				<div>
					<label class="search-label">
						<input type="text" name="busca" class="input search-input" required="" placeholder="Buscar...">
						<kbd class="slash-icon">/</kbd>
						<i class="search-icon fa-solid fa-magnifying-glass"></i>
					</label>
				</div>
			</div>
            <table class="table table-dark table-hover">
                <thead>
                    <tr class="text-center">
                    <th>ID</th>
                    <th>Sistema</th>
                    <th>Criador</th>
                    <th>Mestres</th>
                    <th>Players</th>
                    <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>1</td>
                        <td>D&E 5e</td>
                        <td>Administrador</td>
                        <td>4</td>
                        <td>5</td>
                        <td class="d-grid gap-2 d-md-flex justify-content-md-evenly">
							<a class="acao" title="Editar"><i class="fa-solid fa-feather fa-xl"></i></a>
							<a class="acao" title="Apagar"><i class="fa-solid fa-trash fa-xl"></i></a>
							<a th:href="@{painelSistema}" class="acao" title="Configurar"><i class="fa-solid fa-gear fa-xl"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

		<div th:replace="~{fragmentos/fab :: fab}"></div>
	</div>
</body>
</html>