<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
	<script src="/js/libs/jquery-3.7.1.min.js"></script>
	<script src="/js/libs/sweetalert2.min.js"></script>
	<script src="/js/erros/codigos.js"></script>
    <script src="/js/erros/feedback.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/hotkeys.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/css/theme.css">
	<link rel="stylesheet" href="/css/componente_style.css">
	<link rel="stylesheet" href="/css/admin_style.css">
	<link rel="stylesheet" href="/css/index_style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<div th:replace="~{fragmentos/barra :: barra}"></div>

<body>
	<div class="container">
		<div class="container-fluid">
			<div class="d-flex justify-content-between align-items-center mt-4">
				<div class="d-flex align-items-center gap-3">
					<h3 class="m-0"><span th:text="${titulo}"></span></h3>
					<button class="btn-rpg-tema" th:data-componente="${componente}" onclick="abrirModalCadastro(this)">+</button>
				</div>
				<div>
					<label class="search-label">
						<input type="text" name="busca" class="input search-input" required="" placeholder="Buscar...">
						<kbd class="slash-icon">/</kbd>
						<i class="search-icon fa-solid fa-magnifying-glass"></i>
					</label>
				</div>
			</div>
			
		</div>
		<div class="tabela-componentes mt-5">
            <table class="table table-dark table-hover">
				<thead>
				    <tr class="text-center align-middle cabecalho">
						<th th:each="cab : ${cabecalho}" th:text="${cab}"></th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
				    <tr class="text-center coluna" th:each="item, iter : ${dados}">
				        <td th:each="campo : ${campos}" th:text="${item[campo]}"></td>
				        
				        <td class="d-grid gap-2 d-md-flex justify-content-md-evenly">
				            <button class="acao" title="Editar">
				                <i class="fa-solid fa-feather fa-xl"></i>
				            </button>
				            <button class="acao" title="Apagar">
				                <i class="fa-solid fa-trash fa-xl"></i>
				            </button>
				        </td>
				    </tr>
				    <tr th:if="${#lists.isEmpty(dados)}" class="coluna">
				        <td colspan="99" class="text-center">Nenhum registro encontrado</td>
				    </tr>
				</tbody>
            </table>
        </div>
	</div>
	
	<div class="modal fade" id="modalDinamico" tabindex="-1" aria-labelledby="modalDinamicoLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg"> <div class="modal-content bg-dark text-light">
	      <div class="modal-header border-secondary">
	        <h5 class="modal-title" id="modalDinamicoLabel">Carregando...</h5>
	        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" id="modalDinamicoBody">
	        <div class="text-center py-5">
	            <div class="spinner-border text-primary" role="status">
	                <span class="visually-hidden">Loading...</span>
	            </div>
	        </div>
	      </div>
	      <div class="modal-footer border-secondary">
	        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
	        <button type="button" id="btnSalvarFormDinamico" class="btn btn-primary">Salvar Cadastro</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div th:replace="~{fragmentos/fab :: fab}"></div>
</body>
</html>